main {
    margin: 0 8px;
    text-align: center;
}
footer {
	margin: 32px 0 0 0;
}
p {
	margin: 8px 0;
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
h1 {
	margin: 8px 0;
    font-size: 6em;
	color: #212121;
	font-family: 'Roboto:400', sans-serif;
}
@media only screen and (max-width: 479px) { 
	main {
        height: calc(100vh - 180px);
	}
}
@media only screen and (min-width: 480px) { 
	main {
        height: calc(100vh - 196px);
	}
}