/*Post Page Stylesheet*/
main {
	display: grid;
	grid-auto-flow: row dense;
}
a {
	color: #212121;
}
article {
	display: grid;
}
article > p {
	margin: 8px 0;
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
article > h2, h3, h4, h5, h6 {
	margin: 8px 0;
	color: #212121;
	font-family: 'Roboto:400', sans-serif;
}
article > ins {
	margin: 8px 0;
}
article > iframe {
	width: 100%;
	border-width: 0;
	border-style: none;
	border-color: initial;
	border-image: initial;
}
article > blockquote {
	border-left: 8px solid #424242;
	margin: 8px 0;
	padding: 0 0 0 16px;
	font-family: 'Roboto:400', sans-serif;
	color: #313131;
}
article > figure {
	margin: 8px 0;
}
article > ul, ol {
	margin: 8px 0;
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
blockquote > * {
	display: block;
	margin: 8px 0;
}
/*Header Styles*/
/* Main Post Styles */
picture > img {
	width: 100%;
	border-radius: 4px;
	display: block;
	object-fit: cover;
}
article > h1 {
	margin: 12px 0 4px 0;
	color: #333333;
	font-size: 2.5em;
	font-family: 'Roboto:900', sans-serif;
	line-height: 1em;
	vertical-align: bottom;
}
article > h2 {
	margin: 8px 0;
	color: #757575;
	font-style: italic;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}
section#post-author {
	margin: 8px 0;
	padding: 6px 0;
	color: #757575;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	border-top: #757575 1px solid;
	border-bottom: #757575 1px solid;
}
section#post-author > a {
	color: #484848;
	text-decoration: none;
}
time#post-date {
	float: right;
}
article > h3 {
	font-size: 24px;
}
article > h4, h5, h6 {
	font-size: 20px;
}
article > a {
	color: #212121;
}
article > a:visited {
	color: #424242;
}
section#social-media {
	display: inline-block;
	margin: 8px 0 16px 0;
	width: 100%;
	text-align: center;
}
.leaderboard-unit {
	margin: 8px 0;
}
/*Social Media Classes*/
.social-image-share {
	display: inline-block;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	margin: 0 6px;
}
/*The Otaku Project Related and Sidebar Posts*/
.related-category {
	display: grid;
	margin: 0;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	overflow: auto;
}
.related-tag {
	display: grid;
	grid-gap: 16px 16px;
}
/*Sidebar Figure Styles*/
figure {
	width: 100%;
	margin: 0;
	color: #ffffff;
	font-size: 16px;
	position: relative;
	overflow: hidden;
	text-align: left;
	border-radius: 4px;
}
figure * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.55s ease;
	transition: all 0.55s ease;
}
figure img {
	max-width: 100%;
	height: 100%;
	vertical-align: top;
	position: relative;
	object-fit: cover;
}
figure figcaption {
	width: 100%;
	padding: 12px;
	position: absolute;
	font-weight: 700;
	font-family: 'Noto Sans', Arial, sans-serif;
	letter-spacing: -0.4px;
	bottom: 0;
	z-index: 1;
}
figure figcaption::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #700877;
	content: '';
	background: -moz-linear-gradient(90deg, var(--text-bgc-alpha, #0F2027) 0%, var(--text-bgc-beta, #203A43) 50%, var(--text-bgc-omega, #2c5364) 100%);
	background: -webkit-linear-gradient(90deg, var(--text-bgc-alpha, #0F2027) 0%, var(--text-bgc-beta, #203A43) 50%, var(--text-bgc-omega, #2c5364) 100%);
	background: linear-gradient(90deg, var(--text-bgc-alpha, #0F2027) 0%, var(--text-bgc-beta, #203A43) 50%, var(--text-bgc-omega, #2c5364) 100%);
	opacity: 0.70;
	z-index: -1;
}
figure h3 {
	display: inline-block;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 1em;
	font-weight: 700;
	color: #fff;
	letter-spacing: -0.4px;
	margin: 0;
}
figure p {
	max-height: 3.2em;
	font-size: 0.8em;
	font-family: 'Noto Sans', Arial, sans-serif;
	line-height: 1.6em;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
figure a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
}
figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
/*Embed-Container*/
.embed-container, .wp-embed-aspect-16-9 {
	position: relative;
	margin: 1em 0 1em 0;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed, .wp-embed-aspect-16-9 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media only screen and (min-width: 1153px) {
	main {
		grid-template-columns: 1fr 16px 784px 16px 320px 16px 1fr;
	}
	main > * {
		grid-column: 3;
	}
	article {
		grid-template-columns: 1fr;
	}
	aside {
		grid-column: 5;
		grid-row: span 2;
	}
	aside > * {
		margin: 0 0 16px;
	}
	aside > div:nth-last-child(2) {
		position: sticky;
		top: 16px;
	}
	aside > div:last-child {
		position: sticky;
		top: 408px;
		margin: 0;
	}
	.related-category {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.related-tag {
		grid-template-columns: 1fr;
	}
	footer {
		grid-template-columns: 1fr 1120px 1fr;
	}
}
@media only screen and (min-width: 641px) and (max-width: 1152px) {
	main {
		grid-template-columns: 1fr;
	}
	main > * {
		grid-column: 1;
	}
	article {
		grid-template-columns: 16px 1fr minmax(auto, 784px) 1fr 16px;
	}
	article > * {
		grid-column: 3;
	}
	article > p.embed-container, .embed-container {
		grid-column: 2 / 5;
	}
	aside {
		display: grid;
		grid-template-columns: 16px 1fr minmax(auto, 784px) 1fr 16px;
		grid-row-gap: 16px;
        margin: 16px 0 0 0;
	}
	aside > * {
		grid-column: 3;
	}
	.related-category {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.related-tag {
		grid-template-columns: 1fr 1fr;
		grid-gap: 16px;
	}
	footer {
		grid-template-columns: minmax(16px, 1fr) minmax(auto, 784px) minmax(16px, 1fr);
	}
}
@media only screen and (max-width: 640px) {
	main {
		grid-template-columns: 1fr;
	}
	main > * {
		grid-column: 1;
	}
	article {
		grid-template-columns: 16px 1fr 16px;
	}
	article > * {
		grid-column: 2;
	}
	article > p.embed-container, .embed-container {
		grid-column: 1 / 4;
	}
	aside {
		grid-column: 1;
	}
	aside > * {
		margin: 16px;
	}
	.related-category {
		grid-template-columns: 1fr;
	}
	.related-tag {
		grid-template-columns: 1fr;
		grid-gap: 16px;
	}
	footer {
		grid-template-columns: 16px 1fr 16px;
	}
}
