/*Post Page Stylesheet*/
main {
	display: grid;
	grid-auto-flow: row dense;
    padding-bottom: 16px;
}
a {
	color: #212121;
}
article {
	display: grid;
}
article > p {
	margin: 8px 0;
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
    line-height: 1.5em;
}
article h2, h3, h4, h5, h6 {
	margin: 8px 0;
	color: #212121;
	font-family: 'Arimo', sans-serif;
    font-weight: 400;
}
article > iframe {
	width: 100%;
	border-width: 0;
	border-style: none;
	border-color: initial;
	border-image: initial;
}
article > blockquote {
	border-left: 8px solid #424242;
	margin: 8px 0;
	padding: 0 0 0 16px;
	font-family: 'Roboto:400', sans-serif;
	color: #313131;
}
article > figure {
	margin: 8px 0;
	overflow: hidden;
}
article > ul, ol {
	margin: 8px 0;
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
blockquote > * {
	display: block;
	margin: 8px 0;
}

/*Header Styles*/
/* Main Post Styles */
picture > img {
	width: 100%;
	border-radius: 4px;
	display: block;
	object-fit: cover;
}
article h1 {
	margin: 12px 0 4px 0;
	color: #333333;
	font-size: 2em;
	font-family: 'Arimo', sans-serif;
    font-weight: 700;
	line-height: 1.25em;
	vertical-align: bottom;
}
article h2 {
	margin: 8px 0;
	font-size: 1.65em;
	font-family: 'Arimo', sans-serif;
    font-weight: 400;
}
article h3 {
	font-size: 1.5em;
}
article h4, h5, h6 {
	font-size: 1.25em;
}
#post-author {
	display: grid;
	grid-template-rows: 1fr 1fr;
	margin: 8px 0;
	font-family: 'Arimo', sans-serif;
	font-weight: 400;
        }
#post-author p {
	margin: 4px 0;
}
#post-author a {
	color: #484848;
	text-decoration: none;
	}
#post-date {
	margin: 0;
	color: #484848;
}
article > a {
	color: #212121;
}
article > a:visited {
	color: #424242;
}
section#social-media {
	display: inline-block;
	margin: 8px 0 16px 0;
	width: 100%;
	text-align: center;
}
.leaderboard-adunit {
	margin: 48px 0;
}

/*Social Media Classes*/
.social-image-share {
	display: inline-block;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	margin: 0 6px;
}

/*Related and Sidebar Posts*/
.related-category {
	display: grid;
	margin: 0;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	overflow: auto;
}
.related-tag {
	display: grid;
	grid-gap: 16px 16px;
	margin-bottom: 16px;
}
.post-title {
    background-color: var(--text-bgc-alpha);
	box-shadow: 0 0 0 0.25em var(--text-bgc-alpha);
	line-height: 1.5em;
	border-radius: 2px 0;
}
.post-categories {    
    background-color: var(--text-bgc-omega);
	box-shadow: 0 0 0 0.25em var(--text-bgc-omega);
	margin-right: 0.75em;
	padding: 0.25em;
	border-radius: 0 8px;
}

/*Sidebar Figure Styles*/
.related-content figure {
	width: 100%;
	margin: 0;
	color: #ffffff;
	font-size: 16px;
	position: relative;
	overflow: hidden;
	text-align: left;
	border-radius: 8px;
}
.related-content figure * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.55s ease;
	transition: all 0.55s ease;
}
.related-content figure img {
	max-width: 100%;
	height: 100%;
	vertical-align: top;
	position: relative;
	object-fit: cover;
}
.related-content figure figcaption {
	margin: 8px;
	position: absolute;
	font-weight: 700;
	bottom: 0;
	z-index: 1;
}
.related-content figure h3, .related-content figure h5 {
	display: inline-block;
	font-family: 'Arimo', sans-serif;
	font-size: 1em;
	font-weight: 700;
	color: #fff;
	margin: 0.25em;
}
.related-content figure p {
	max-height: 3.2em;
	font-size: 0.8em;
	font-family: 'Noto Sans', Arial, sans-serif;
	line-height: 1.6em;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.related-content figure a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
}
.related-content figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/*Embed-Container*/
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.embed-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
article .twitter-tweet {
    margin: 0 auto;
}

@media only screen and (min-width: 1164px) {
	main {
		grid-template-columns: 1fr 16px 784px 16px 320px 16px 1fr;
	}
	main > * {
		grid-column: 3;
	}
	article {
		grid-template-columns: 1fr;
	}
	aside {
		grid-column: 5;
		grid-row: span 2;
	}
	aside > * {
		margin: 0 0 16px;
	}
	/*aside > div:nth-last-child(2) {
		position: sticky;
		top: 16px;
	}*/
	aside > div:last-child {
		position: sticky;
		top: 16px;
		margin: 0;
	}
    .large-picture {
        grid-column: 3 / 6;
    }
	.related-category {
		grid-template-columns: 1fr 1fr;
	}
	.related-tag {
		grid-template-columns: 1fr;
	}
	footer {
		grid-template-columns: 1fr 1120px 1fr;
	}
}
@media only screen and (min-width: 641px) and (max-width: 1164px) {
	main {
		grid-template-columns: 1fr;
	}
	main > * {
		grid-column: 1;
	}
	article {
		grid-template-columns: 16px 1fr minmax(auto, 784px) 1fr 16px;
	}
	article > * {
		grid-column: 3;
	}
	article > p.embed-container, .embed-container {
		grid-column: 2 / 5;
	}
	aside {
		display: grid;
		grid-template-columns: 16px 1fr minmax(auto, 784px) 1fr 16px;
		grid-row-gap: 16px;
        margin: 16px 0 0 0;
	}
	aside > * {
		grid-column: 3;
	}
    .large-picture {
        display: grid;
        grid-template-columns: 16px 1fr minmax(auto, 784px) 1fr 16px;
    }
    .large-sidebar {
        margin-top: 16px;
    }
    .large-picture > * {
        grid-column: 3;
    }
	.related-category {
		grid-template-columns: 1fr 1fr;
	}
	.related-tag {
		grid-template-columns: 1fr 1fr;
		grid-gap: 16px;
	}
	footer {
		grid-template-columns: minmax(16px, 1fr) minmax(auto, 784px) minmax(16px, 1fr);
	}
}
@media only screen and (max-width: 640px) {
	main {
		grid-template-columns: 1fr;
	}
	main > * {
		grid-column: 1;
	}
	article {
		grid-template-columns: 16px 1fr 16px;
	}
	article > * {
		grid-column: 2;
	}
    article > .leaderboard-adunit {
        grid-column: span 3;
    }
	article > p.embed-container, .embed-container {
		grid-column: 1 / 4;
	}
	aside {
		grid-column: 1;
	}
	aside > * {
		margin: 16px;
	}
    aside > .sidebar-adunit {
        margin: 16px 0;
    }
	.related-category {
		grid-template-columns: 1fr;
	}
	.related-tag {
		grid-template-columns: 1fr;
		grid-gap: 16px;
	}
	footer {
		grid-template-columns: 16px 1fr 16px;
		overflow-x: scroll;
	}
}