/*Home-Page Stylesheet*/

main {
	display: grid;
	max-width: 1280px;
	grid-gap: 16px;
	grid-auto-flow: row dense;
    padding: 0;
}
picture > img {
	width: 100%;
}
figure {
	width: 100%;
	margin: 0;
	color: #ffffff;
	font-size: 16px;
	position: relative;
	overflow: hidden;
	text-align: left;
	border-radius: 4px;
}
figure * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: transform 0.55s ease;
	transition: transform 0.55s ease;
}
figure img {
	max-width: 100%;
	height: 100%;
	vertical-align: top;
	position: relative; 
	object-fit: cover;
}
figure figcaption {
	max-width: 100%;
	padding: 12px;
	position: absolute;
	bottom: 0;
	z-index: 1;
}

figure figcaption::before {
	position: absolute;
	top: 8px;
	bottom: 8px;
	left: 8px;
	right: 8px;
	content: '';
	background: -moz-linear-gradient(90deg, var(--text-bgc-alpha, #0F2027) 0%, var(--text-bgc-beta, #203A43) 50%, var(--text-bgc-omega, #2c5364) 100%);
	background: -webkit-linear-gradient(90deg, var(--text-bgc-alpha, #0F2027) 0%, var(--text-bgc-beta, #203A43) 50%, var(--text-bgc-omega, #2c5364) 100%);
	background: linear-gradient(90deg, var(--text-bgc-alpha, #0F2027) 0%, var(--text-bgc-beta, #203A43) 50%, var(--text-bgc-omega, #2c5364) 100%);
    border-radius: 4px;
	opacity: 0.85;
	z-index: -1;
}

figure span {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 4px;
	background: var(--text-bgc-omega, #2c5364);
    border-radius: 2px;
	opacity: 0.95;
}
figure h3 {
	display: inline-block;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 700;
	letter-spacing: -0.4px;
    padding: 8px;
}
figure p {
    display: inline-block;
	max-height: 3.2em;
	font-size: 0.75em;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 700;
	letter-spacing: -0.4px;
	margin: 0;
}
figure a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
}
figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#tax-section h1 {
    display: block;
    color: #333333;
	font-family: 'Roboto:900', Arial, sans-serif;
    font-size: 3em;
    text-align: center;
    padding: 8px; 
}

/*Navigation */
section#page-nav {
	text-align: center;
}
.navigation ul {
    padding: 0;
}
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    text-decoration:none;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.navigation li {
    display: inline;
}
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    padding: 12px 6px;
    color: #484848;
}
.navigation li a:hover,
.navigation li.active a {
    color: #484848;
    font-weight: 900;
	text-decoration: underline;
}

/*Screen Sizing*/
@media only screen and (min-width: 961px) {
	main {
		margin: 0 auto;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.ADK-TopArticle {
		grid-column: span 3;
        font-size: 2em;
	}
    .ADK-4x3Article {
        grid-column: span 2;
        grid-row: span 3;
        font-size: 2em;
    }
	.ADK-MidArticle {
		grid-column: span 2;
        grid-row: span 2;
        font-size: 1.5em;
	}
    .ADK-TallArticle {
        grid-row: span 2;
    }
    .ADK-SmallArticle {
        font-size: 1em;
    }
	footer {
		grid-template-columns: 1fr min(1fr 1280px) 1fr;
	}
}
@media only screen and (min-width:641px) and (max-width: 1312px) {
    main {
        margin: 0 16px;
    }
}
@media only screen and (min-width: 641px) and (max-width: 960px) {
	main {
		margin: 0 16px;
		grid-template-columns: 1fr 1fr;
	}
	.ADK-TopArticle {
		grid-column: span 2;
	}
    .ADK-4x3Article {
        grid-column: span 2;
    }
	.ADK-MidArticle {
		grid-column: span 2;
	}
	footer {
		grid-template-columns: 16px 1fr 16px;
	}
}
@media only screen and (max-width: 640px) {
	main {
		margin: 0 16px;
		grid-template-columns: 1fr;
	}
	footer {
		grid-template-columns: 16px 1fr 16px;
	}
}