/*Post Page Stylesheet*/
main {
	display: grid;
	grid-auto-flow: row dense;
    grid-template-columns: minmax(16px, 1fr) minmax(auto, 744px) minmax(16px, 1fr);
}
main > * {
    grid-column: 2;
}
footer {
	display: grid;
	margin: 32px 0 0 0;
	grid-template-columns: minmax(16px, 1fr) minmax(auto, 744px) minmax(16px, 1fr);
}
a {
	color: #212121;
}
article {
	display: grid;
}
article p {
	margin: 8px 0;
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.5em;
}
article > h2, h3, h4, h5, h6 {
	margin: 8px 0;
	color: #212121;
	font-family: 'Arimo', sans-serif;
}
article > ins {
	margin: 8px 0;
}
article > iframe {
	width: 100%;
	border-width: 0;
	border-style: none;
	border-color: initial;
	border-image: initial;
}
article > blockquote {
	border-left: 8px solid #424242;
	margin: 8px 0;
	padding: 0 0 0 16px;
	font-family: 'Arimo', sans-serif;
	color: #313131;
}
article > figure {
	margin: 8px 0;
}
article > ul, ol {
	margin: 8px 0;
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
blockquote > * {
	display: block;
	margin: 8px 0;
}
/*Header Styles*/
/* Main Post Styles */
picture > img {
	width: 100%;
	border-radius: 4px;
	display: block;
	object-fit: cover;
}
article > h1 {
	margin: 12px 0 4px 0;
	color: #333333;
	font-size: 2.5em;
	font-family: 'Roboto:900', sans-serif;
	line-height: 1em;
	vertical-align: bottom;
}
article > h2 {
	margin: 8px 0;
	color: #757575;
	font-style: italic;
	font-size: 18px;
    font-weight: 400;
	font-family: 'Arimo', sans-serif;
}
#post-author {
	display: grid;
	grid-template-rows: 1fr 1fr;
	margin: 8px 0;
	font-family: 'Arimo', sans-serif;
	font-weight: 400;
        }
#post-author p {
	margin: 4px 0;
}
#post-author a {
	color: #484848;
	text-decoration: none;
	}
#post-date {
	margin: 0;
	color: #484848;
}
article > h3 {
	font-size: 24px;
}
article > h4, h5, h6 {
	font-size: 20px;
}
article > a {
	color: #212121;
}
article > a:visited {
	color: #424242;
}


/*Embed-Container*/
.embed-container {
	position: relative;
	margin: 1em 0 1em 0;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media only screen and (max-width: 640px) {
	footer {
		overflow-x: scroll;
	}
}