main {
    margin: 0 auto;
    text-align: center;
    max-width: 1280px;
    padding: 0 0 112px 0;
}
p {
	margin: 16px 0;
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
h1 {
	margin: 16px 0;
    font-size: 12em;
	color: #212121;
	font-family: 'Roboto:900', sans-serif;
}
#Articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin: 0 16px;
}
picture > img {
	width: 100%;
}
figure {
	width: 100%;
	margin: 0;
	color: #ffffff;
	font-size: 16px;
	position: relative;
	overflow: hidden;
	text-align: left;
	border-radius: 4px;
}
figure * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: transform 0.55s ease;
	transition: transform 0.55s ease;
}
figure img {
	max-width: 100%;
	height: 100%;
	vertical-align: top;
	position: relative; 
	object-fit: cover;
}
figure figcaption {
	width: 100%;
	padding: 12px;
	position: absolute;
	bottom: 0;
	z-index: 1;
}
figure figcaption::before {
	position: absolute;
	top: 8px;
	bottom: 8px;
	left: 8px;
	right: 8px;
	content: '';
	background: -moz-linear-gradient(90deg, var(--text-bgc-alpha, #0F2027) 0%, var(--text-bgc-beta, #203A43) 50%, var(--text-bgc-omega, #2c5364) 100%);
	background: -webkit-linear-gradient(90deg, var(--text-bgc-alpha, #0F2027) 0%, var(--text-bgc-beta, #203A43) 50%, var(--text-bgc-omega, #2c5364) 100%);
	background: linear-gradient(90deg, var(--text-bgc-alpha, #0F2027) 0%, var(--text-bgc-beta, #203A43) 50%, var(--text-bgc-omega, #2c5364) 100%);
    border-radius: 4px;
	opacity: 0.85;
	z-index: -1;
}
figure h3 {
	display: inline-block;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 700;
	letter-spacing: -0.4px;
    padding: 8px;
}
figure p {
	max-height: 3.2em;
	font-size: 0.8em;
	font-family: 'Noto Sans', Arial, sans-serif;
	line-height: 1.6em;
	margin: 0;
    color: #ffffff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
figure a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
}
figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
@media only screen and (max-width: 479px) { 
	main {
        min-height: calc(100vh - 196px);
	}
    #Articles {
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 720px) and (max-width: 1280px) {
    #Articles {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 719px) {
    #Articles {
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 480px) { 
	main {
        min-height: calc(100vh - 204px);
	}
}